@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("Grober-EarthTermsandCondition.jpg");
    background-size: cover;
    height: 100vh;
    flex-direction: column;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    flex-direction: column;
    background-color: white;
    gap: 20px;
    border-radius: 30px;
    height: auto;
    width: auto;
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 1px 1px 10px white;
}

form h2{
    font-size: 34px;    
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    padding-bottom: 10px;
    margin-bottom: 20px;
}


form input[type="text"],input[type="password"]{ 
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    padding: 10px;
    font-size: 0.8rem;
}

form input[type="submit"]{
    padding: 10px 20px;
    font-size: 0.8rem;    
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}


form input[type="submit"]:hover{
    background-color:black;
    transition: all 0.3s;
    color: white;
    font-weight: 200;
}

form a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: all 0.5s;
}

form a:hover{
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);    
    transition: all 0.3s;
}


p{
    color:black;
    font-weight: 600;
    font-size: 14px;
    font-style: italic;
}