@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#map{
    width: 100%;    
    height: 100vh;
    
}

#getLatLng{
    z-index: 100000;
}


.app{
    width: 100%;
    height: 100vh;
}

form{
    position: absolute;
    top: 60px;
    left: 60px;
    display: flex;  
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 300  px;
    height: auto;
    padding: 40px;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
    z-index: 2000;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

form input{
    background-color: rgba(128, 128, 128, 0.473);
    border: 2px solid rgba(0, 0, 0, 0.397);
    border-radius: 10px;
    padding: 5px 10px;
    width: 100%;
    height: 30px;
    color: black;
}

form input:last-child{
    background-color: blue;
    cursor: pointer;
    color: white;    
    transition:all 0.5s;

}

form input:last-child:hover{
    background-color: rgba(0, 0, 255, 0.534);    
    transition:all 0.5s;
}


body{
    height: auto;
    padding: 0 0 50px 0;
    text-align: center;
}

body::-webkit-scrollbar{
    width: 10px;
    height: 0;
}

body::-webkit-scrollbar-thumb{
    background-color: green;
    border-radius: 10px;
}

.ok{

    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    background-color: green;
    color:white;
    width: 100%;
    position: absolute;
    align-self: center;
    top: 20px;
    z-index: 20000;
    position: absolute;
    top: 0;
}

.bad{
    color: red;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    background-color: green;
    color:white;
    width: 100%;
    position: absolute;
    align-self: center;
    top: 20px;
    z-index: 20000;
    position: absolute;
    top: 0;
}

.default {
    border-collapse: collapse;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}
    
.default th {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    width: 33%;
}

.default td {
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
}

.default tr:nth-child(even) {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #f2f2f2;
    width: 200px;
}

.leaflet-top{   
    bottom: 0;
}

select{
    background-color: rgba(128, 128, 128, 0.473);
    border: 2px solid rgba(0, 0, 0, 0.397);
    border-radius: 10px;
    padding: 5px 10px;
    width: 100%;
    height: 30px;
    color: black;
}

.inicio{
    position: absolute;    
    top: 60px;
    right: 20px;
    display: flex;  
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
    z-index: 2000;   
    font-size: 40px;
    color: black;

}

.settings{
   
    height: 100%;
    width: 30%;  
    position: absolute;
    top: 0;
    left: 0;
}