@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
                                    
}

.navBar{
    width: 110px;
    border: 2px solid rgba(0, 0, 0, 0.267);
    height: 5vh;
    background-color: white;
    border-radius: 20px;   
    position: absolute;
    top: 10px;
    left: 8px;
    z-index: 1000;
    color: black;
    font-size: 35px;
}

.navItems{
    gap: 10px;
}

.navItems ion-icon{
    cursor: pointer;
}

.destino{
    flex-direction: column;
    width: 100%;
    height:15   0px;
}

.place{
    z-index: 1000;
    width: 330px;
    border: 2px solid rgba(0, 0, 0, 0.267);
    height: auto;
    background-color: white;
    border-radius: 20px;   
    position: absolute;
    top: 7%;
    left: 8px;
    z-index: 1002;
    color: black;
    font-size: 35px;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}

.place h2{
    font-size: 22px;
    margin-bottom: 20px;
    position: relative;
    width: 90%;
    text-align: center;
}

.place h2::after{
    content: '';
    background-color: gray;
    height: 1px;
    width: 100%;
    position:absolute;
    bottom: -10px;
    left: 0;
}

.place input{
    background-color: rgba(128, 128, 128, 0.678);
    border: 2px solid rgba(0, 0, 0, 0.397);
    border-radius: 10px;
    padding: 5px 10px;
    width: 90%;
    height: 30px;
    color: black;
}

.inputPlace1{
    margin-bottom: 10px;
}

.place input::placeholder{
    color: black;
}

.btnsPlace{
    margin-top: 10px;
    width: 90%;
    justify-content: space-around;
    position: relative;
    height: 40px;
}

.btn{
    padding: 5px 15px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.3s;
    color: white;
    width: 90%;
}

.btnsPlace::before{
    content: '';
    background-color: gray;
    height: 1px;
    width: 100%;
    position:absolute;
    top: -10px;
    left: 0;
}

.btnsPlace::after{
    content: '';
    background-color: gray;
    height: 1px;
    width: 100%;
    position:absolute;
    bottom:-10px;
    left: 0;
}

.btn:hover{
    padding: 8px 18px;
    transition: 0.3s;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.contentRute{
    width: 90%;
    height: auto;
}

.rutas{
    width: 100%;
    height: 60px;
    margin: 10px 0;
    border: 1px solid white;
    background-color: rgba(128, 128, 128, 0.678);
    border: 2px solid rgba(0, 0, 0, 0.397);
    border-radius: 10px;
    cursor: pointer;
}
.rutas:hover{
    background-color: rgba(54, 54, 54, 0.678);
}