@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
                                    
}

#map{
    z-index: 1;
}
.navBar{
    width: 110px;
    border: 2px solid rgba(0, 0, 0, 0.267);
    height: 5vh;
    background-color: white;
    border-radius: 20px;   
    position: absolute;
    top: 10px;
    left: 8px;
    z-index: 2;
    color: black;
    font-size: 35px;
    
}

.bodyMain{
    height: 100vh;
    width: 100%;
}
.navItems{
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.navItems ion-icon{
    cursor: pointer;
}

.destino{
    flex-direction: column;
    width: 100%;
    height:15   0px;
}

.place{
    z-index: 2;
    width: 330px;
    border: 2px solid rgba(0, 0, 0, 0.267);
    height: auto;
    background-color: white;
    border-radius: 20px;   
    position: absolute;
    top: 7%;
    left: 8px;
    z-index: 1002;
    color: black;
    font-size: 35px;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}

.place h2{
    font-size: 22px;
    margin-bottom: 20px;
    position: relative;
    width: 90%;
    text-align: center;
}

.place h2::after{
    content: '';
    background-color: gray;
    height: 1px;
    width: 100%;
    position:absolute;
    bottom: -10px;
    left: 0;
}

.place input{
    background-color: rgba(128, 128, 128, 0.678);
    border: 2px solid rgba(0, 0, 0, 0.397);
    border-radius: 10px;
    padding: 5px 10px;
    width: 50%;
    height: 30px;
    color: black;
}

.inputPlace1{
    width: 50%;
}

.inputPlace2{
    width: 50%;
}


.place input::placeholder{
    color: black;
}

.btnsPlace{
    margin-top: 10px;
    margin-left: 30px;
    width: 83%;
    justify-content: space-around;
    position: relative;
    height: 40px;
    gap: 1em;

}

.btn{
    padding: 5px 15px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.3s;
    color: white;
    width: 50%;
    font-size: 13px;
}

.btnsPlace::before{
    content: '';
    background-color: gray;
    height: 1px;
    width: 100%;
    position:absolute;
    top: -10px;
    left: 0;
}

.btnsPlace::after{
    content: '';
    background-color: gray;
    height: 1px;
    width: 100%;
    position:absolute;
    bottom:-10px;
    left: 0;
}

.btn:hover{
    padding: 8px 18px;
    transition: 0.3s;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.contentRute{
    width: 90%;
    height: auto;
}

.rutas{
    width: 100%;
    height: 60px;
    margin: 10px 0;
    border: 1px solid white;
    background-color: rgba(128, 128, 128, 0.678);
    border: 2px solid rgba(0, 0, 0, 0.397);
    border-radius: 10px;
    cursor: pointer;
}
.rutas:hover{
    background-color: rgba(54, 54, 54, 0.678);
}

.OriginPlace, .DestinyPlace {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.DestinyPlace {
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    width: 100%;
    margin-top: 20px;
    display: flex;
}

.destinyButtons{
    display: flex;
    justify-content: space-between;
    width: 83%;
    margin-left: 30px;
}
.originButtons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

.waypointBtn{
    height: 100%;
    width: 50px;
}   

.waypointBtn1{
    width: 50px;
} 

#selectDestinyInMap {
    width: 115px;
}

.navBarButton{
    border: none;
    background-color: transparent;
    font-size: 30px;
}

.settings{
   
    height: 100%;
    width: 30%;
   
    position: absolute;
    top: 0;
    left: 0;
}

/* DESDE AQUI ES UNA PRUEBA MEZCLANDO STYLE.CSS CON ESTE*/

#formReport {
    position: absolute;
    top: 60px;
    left: 60px;
    display: flex;  
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 300  px;
    height: auto;
    padding: 40px;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
    z-index: 2001;
}
form{
    display: flex;  
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    gap: 20px;
    z-index: 2000;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

form input{
    background-color: rgba(128, 128, 128, 0.473);
    border: 2px solid rgba(0, 0, 0, 0.397);
    border-radius: 10px;
    padding: 5px 10px;
    width: 100%;
    height: 30px;
    color: black;
}

form input:last-child{
    background-color: blue;
    cursor: pointer;
    color: white;    
    transition:all 0.5s;

}

form input:last-child:hover{
    background-color: rgba(0, 0, 255, 0.534);    
    transition:all 0.5s;
}


body{
    height: auto;
    padding: 0 0 50px 0;
    text-align: center;
}

body::-webkit-scrollbar{
    width: 10px;
    height: 0;
}

body::-webkit-scrollbar-thumb{
    background-color: green;
    border-radius: 10px;
}

.ok{

    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    background-color: green;
    color:white;
    width: 100%;
    position: absolute;
    align-self: center;
    top: 20px;
    z-index: 20000;
    position: absolute;
    top: 0;
}

.bad{
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    background-color: red;
    width: 100%;
    position: absolute;
    align-self: center;
    top: 20px;
    z-index: 20000;
    position: absolute;
    top: 0;
}

.default {
    border-collapse: collapse;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}
    
.default th {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    width: 33%;
}

.default td {
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
}

.default tr:nth-child(even) {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #f2f2f2;
    width: 200px;
}
    
.iconF{
    font-size: 34px;
    width: 34px;
    height: 34px;
    color: black;
}

.navBarButton{
    color: black;
}